<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Parent</title>
	</head>
	<body>
		<div id="app">
			<div v-if="!userInfo">
				<div>用户名:<input v-model="account" /></div>
				<div>密码: <input v-model="password" /></div>
				<div><button @click="handleSubmit">submit</button></div>
			</div>

			<div v-else>
				我已经登录了--{{userInfo}}
				<div><button @click="handleLoginout">退出</button></div>
			</div>
		</div>

		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script>
			const { createApp } = Vue

			const BASE_URL = "http://localhost:3001"
			createApp({
				data() {
					return {
						msg: "msg",
						account: "test",
						password: "12345",
						userInfo: ""
					}
				},
				mounted() {
					this.getInfo()
				},
				methods: {
					handleSubmit() {
						fetchFactory(BASE_URL + "/login", {
							method: "POST",
							body: JSON.stringify({
								account: this.account,
								password: this.password
							})
						}).then((res) => {
							if (res.code === "200") {
								window.alert("登录成功")
								this.getInfo()
								createIframe(res.token)
								return
							}

							window.alert("密码错误")
						})
					},

					getInfo() {
						fetchFactory(BASE_URL + "/getInfo").then((res) => {
							if (res.code === "200") {
								this.userInfo = res.info
							}
						})
					},

					handleLoginout() {
						fetchFactory(BASE_URL + "/loginout").then((res) => {
							if (res.code === "200") {
								alert("退出成功")
								this.userInfo = ""
							}
						})
					}
				}
			}).mount("#app")

			async function fetchFactory(url, options) {
				return fetch(url, {
					methods: "POST",
					credentials: "include",
					...options
				}).then((res) => res.json())
			}

			function createIframe(token) {
				const iframe = document.createElement("iframe")
				iframe.src = "http://127.0.0.1:8005/iframe/ssoB.html"
				iframe.height = iframe.width = 0
				document.body.append(iframe)

				// 使用postMessage()方法将token传递给iframe
				setTimeout(function () {
					iframe.contentWindow.postMessage(
						token,
						"http://127.0.0.1:8005/iframe/ssoB.html"
					)
				}, 1000)
				setTimeout(iframe.remove, 1500)
			}
		</script>
	</body>
</html>
